/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: white;
  padding: 20px 50px;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);

  position: sticky;
  top: 0;
  z-index: 1000;
}

/* LOGO */

.logo-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.logo-container h2 {
  font-size: 28px;
  color: #222;
}

.logo-container span {
  color: #623a23;
}

/* LINKS */

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
  align-items: center;
}

.nav-links li {
  cursor: pointer;
  padding: 10px 18px;
  border-radius: 10px;

  font-weight: 600;

  transition: all 0.3s ease;
}

.nav-links li:hover {
  background: #9c5b35;
  color: white;
}

/* ITEM SELECIONADO */

.nav-links .active {
  background: #9c5b35;
  color: white;
}

/* ÍCONES */

.navbar-icons {
  display: flex;
  gap: 20px;
  font-size: 24px;
}

.navbar-icons span {
  cursor: pointer;
  transition: 0.3s;
}

.navbar-icons span:hover {
  transform: scale(1.1);
}